body{
    background: #DADADA;
    font-family: sans-serif;
    line-height: 1.4285em;
}

button{
    cursor: pointer;
    display: inline-block;
    border: none;
    text-align: center;
    vertical-align: middle;
}

button::after {
    background: purple;
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: #FFF;
    content: attr(data-tooltip); 
    margin-top: -24px;
    opacity: 0;
    padding: 3px 7px;
    position: absolute;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}
        
button:hover::after {
    opacity: 1;
    visibility: visible;
}


.container{
    max-width: 1100px;
    margin: auto;
    padding-top: 5%;
}

.block{
    height: 20%;
    background: white;
    border-radius: 5px;
    box-shadow:0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.08);
}

.right{
    width: 30%;
    float: right;
}

.left{
    width: 65%;
    float:left;
}

#add-button {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 16%;
    height: 36px;
    border-radius: 2px;
    border: 1px solid rgba(34,36,38,.15);
    font-size: 15px;
    margin: 0px;
    background-color: #2185D0;
    color: #FFF;
    position: relative;
    right: 4px;
    bottom: 0.6px;
}

.add-input {
    margin: 0px;
    display: inline-block;
    width: 80%;
    height: 32px;
    padding-left: 6px;
    font-size: 15px;
    background: #FFF;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: 5px 0 0 5px;

}

.form{
    margin: 15px;
}

.item{
    width: 100%;
    border-top: 1px solid rgba(34,36,38,.15);
    text-align: center;
    padding: 15px 0 15px 0;
}

.column{
    display: inline-block;
    /*border: 1px solid black;*/
    margin: 0;
}

.first-column{
    margin-left: 15px; 
    width: 15%;
    padding: 5px;
    float: left;
}

.second-column{
    margin: auto;
}

.third-column{
    width: auto;
    text-align: right;
    vertical-align: middle;
    float: right;
    margin-right: 15px; 
}

.line{
    padding: 15px;
    font-weight: bold;
    border-top: 1px solid rgba(34,36,38,.15);
}

.sklad{
    padding: 15px;
    border-top: 1px solid rgba(34,36,38,.15);
}

.product-item {
    font-size: 10px;
    background-color: #E8E8E8;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    margin-right: 5px; 
}

.circular-amount{
    display: inline-block;
    background-color: #F2711C;
    border-color: #F2711C;
    color: #FFF;
    font-weight: bold;
    height: 5px;
    width: 5px;
    padding: 7px;
    line-height: 0.5;
    text-align: center;
    border-radius: 50px;
}

.plus{
    background: #21BA45;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 1px #4e8341;
}

.minus{
    background: #ff8181;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 1px #bd6565;
}

.amount{
    display: inline-block;
    background:  #E8E8E8;
    padding: 5px 10px;
    border-radius: 2px;
    color: rgba(88, 83, 83, 0.842);
    font-size: 13px;
    font-weight: bold;

}

.circular-button{
    color: white;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 20px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
}

.button-buy{
    height: 30px;
    width: 60px;
    border-radius: 5px;
    background: #E8E8E8;
    font-size: 11px;
    margin: 0px;
    border: none;
}

.not-buy{
	height: 30px;
    width: 100px;
    border-radius: 5px;
    background: #E8E8E8;
    font-size: 11px;
    margin: 0px;
    border: none;
}

.button-delete{
    height: 30px;
    width: 30px;
    background-color: #DB2828;
    color: #FFF;
    border-radius: 10px;
    margin: 0px;
    border: none;
}

.badge{
    position: fixed;
    bottom: 0;
    left:20px;
    background: purple;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 1s ease;
    transform: translateY(20px);
}

.badge:hover{
    transform: translateY(0);
    background: blue;
}

.badge-title{
    display: block;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.badge-author{
    color: white;
    padding: 5px;
    font-size: 15px;
}

@media print{
    .badge{
        transform: translateY(0);
        border: 1px solid purple;
        background: white;
        color: black;
    }

    .badge-author{
        color: black;
    }

    .badge-title{
        display: none;
    }
}

@media screen and (max-width: 670px){
    .body{

        max-width: 700px;
    }
    .block{
        width: 95%;
        float: none;
        margin: auto;
        max-width: 700px;
    }

    .right{
        margin-top:50px;
    }
    .add-input{
        margin-top: 15px;
    }
}